:root {
    --primary:  #f8c8dc;
    --gradient-bg: linear-gradient(to right,#ff69b4, #d04894);
    --accent: #ff69b4;
    --gelap: #d04894;
    --text: #333;
    --other: #fff0f5;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header{
    background: var(--gradient-bg);
    padding: 60px 20px;
    text-align: center;
    color: var(--other);
}

header h1{
    font-size: 2.8rem;
    margin-bottom: 10px;
}

header h1:hover{    
    animation:bounce 2s;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: white;
    color:var(--gelap);
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover{
    background-color: var(--primary);
}

section {
    padding: 70px;
    margin: auto;
    text-align: center; 
}

.search-section h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
   
.search-section .search-form{
    align-items: center;
    display: block;
    margin: auto;

}

.search-section input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.search-section #category{
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 10px 15px;
}
    

.search-section button{
    border-radius: 5px;
    padding: 10px 15px;
    background-color:var(--accent);
    border: none;
    color: var(--other)
}

.features{
    max-width: 1000px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(20px, 1fr));
    gap: 50px;
    margin-top: 30px;
}

.features .feature-box{
    padding: 50px 50px;
    text-align: center;
    background-color: var(--other);
    border-radius: 10px;
    gap: 10px;
}

.features .feature-box i{
    font-size: 2.5rem;
    color: var(--accent);
    margin-bottom: 90px;
}

.features .feature-box h3{
    font-size: 23px;
    margin-top: -80px;
    margin-bottom: 20px;
}

.features .feature-box p{
    line-height: normal;
}

.cta{
    background-color: var(--primary);
    text-align: center;
    margin: auto;
    padding: 120px;
}

.cta h2{
    font-size: 2rem;
    margin-bottom: 25px;
}


footer{
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--accent);
    text-align: center;
    color: white;
}



